<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bibilili.demo.user.mapper.UserFriendsMapper">
    <select id="selectFriends" resultType="com.bibilili.demo.user.vo.UserFriendsVO"
            parameterType="com.bibilili.demo.user.entity.User">
        SELECT
            uf.*,
            u.NAME,
            u.login_name,
            u.head_url
        FROM
            user_friends uf
            LEFT JOIN `user` u ON uf.friend_id = u.user_id
        WHERE
            uf.user_id = #{userId}
    </select>
</mapper>